/* --------------- */
/*   CSS Reset By https://www.joshwcomeau.com/css/custom-css-reset/ */
/* --------------- */

:root {
	--page-height: calc(100vh - 90px);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Noto Sans', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

html,
body {
	height: 100vh;
	overflow-y: clip;
}

/* --------------- */
/* Layout			 */
/* --------------- */

.drawerToggle {
	display: none;
}

nav {
	background-color: white;
	grid-area: nav;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.home {
	display: grid;
	grid-template-areas:
		'header header'
		'main main'
		'footer footer';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 1fr 30px;
}

.social {
	width: 0;
}

@media (min-width: 400px) {
	main {
		display: grid;
		grid-template-areas: 'hero-text hero-picture' 'content content';
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;

		padding: 12px;
	}
	.home {
		display: grid;
		grid-template-areas:
			'header header'
			'social main'
			'footer footer';
		grid-template-columns: 40px 1fr;
		grid-template-rows: 60px 1fr 30px;
	}
	.social {
		background-color: white;
		border-right: 1px solid rgba(128, 128, 128, 0.337);
		width: 100%;
		height: 100%;
		grid-area: social;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding-top: 8px;
	}

	.social * {
		width: 24px;
	}
}

@media (max-width: 768px) {
	main {
		display: grid;
		grid-template-areas: 'hero-picture' 'hero-text' 'content';
		grid-template-rows: repeat(3, '1fr');
		grid-template-columns: 1fr;
	}
	nav {
		position: fixed;
		display: flex;
		flex-direction: column;
		right: 0;
		inset: 0 0 0 50%;
		gap: 1rem;
		padding: 2rem;
		transform: translateX(100%);
	}

	nav[data-visible='true'] {
		transform: translateX(0);
	}

	.drawerToggle {
		display: block;
		z-index: 1000;
		background: url('./assets/svgs/x.svg');
	}
}

.drawerToggle {
	z-index: 1000;
	border: none;
}

header {
	grid-area: header;
	background-color: white;
	border-bottom: 1px solid rgba(128, 128, 128, 0.337);
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-inline: 2rem;
	height: 60px;
}

main {
	grid-area: main;
	height: var(--page-height);
	overflow: auto;

	background: hsla(287, 23%, 65%, 1);

	background: linear-gradient(
		330deg,
		hsla(287, 23%, 65%, 1) 0%,
		hsla(23, 64%, 75%, 1) 100%
	);

	background: -moz-linear-gradient(
		330deg,
		hsla(287, 23%, 65%, 1) 0%,
		hsla(23, 64%, 75%, 1) 100%
	);

	background: -webkit-linear-gradient(
		330deg,
		hsla(287, 23%, 65%, 1) 0%,
		hsla(23, 64%, 75%, 1) 100%
	);

	padding: 12px;
}

.hero-text {
	grid-area: hero-text;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.content {
	grid-area: content;
	background-color: greenyellow;
}

.hero-picture {
	max-width: 500px;
	grid-area: hero-picture;
	margin: auto;
}

.hero-title {
	font-size: 8vw;
}
.hero-subtitle {
	font-size: 3vw;
}
.hero-description {
}

footer {
	background-color: bisque;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
}

/* --------------- */
/* Utility Classes */
/* --------------- */

/* --------------- */
/*   Components    */
/* --------------- */
