/* --------------- */
/*   CSS Reset By https://www.joshwcomeau.com/css/custom-css-reset/ */
/* --------------- */

:root {
	--page-height: calc(100vh - 60px);
	--border-style: 1px solid rgba(255, 255, 255, 0.5);
	--glass-bg: rgba(255, 255, 255, 0.4);
	--glass-shadow: inset rgba(255, 255, 255, 0.2) 0 0 4px 2px;
	--purple: hsla(287, 23%, 65%, 1);
	--glass-blur: blur(10px);
	--border-sm: 12px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	/* border: 1px solid red; */
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: 'Noto Sans', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	background: var(--purple);
	background: linear-gradient(
		330deg,
		var(--purple) 0%,
		hsla(23, 64%, 75%, 1) 100%
	);

	background: -moz-linear-gradient(
		330deg,
		var(--purple) 0%,
		hsla(23, 64%, 75%, 1) 100%
	);

	background: -webkit-linear-gradient(
		330deg,
		var(--purple) 0%,
		hsla(23, 64%, 75%, 1) 100%
	);
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
	font-weight: 300;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

html,
body {
	height: 100vh;
	overflow-y: clip;
}

*::-webkit-scrollbar {
	width: 8px;
	border: var(--border-style);
}

*::-webkit-scrollbar-track {
	background-color: var(--purple);
	box-shadow: var(--glass-shadow);
	border: var(--border-style);
}

*::-webkit-scrollbar-thumb {
	background-color: var(--glass-bg);
}

/* --------------- */
/* Layout			 */
/* --------------- */

.drawerToggle {
	display: none;
	cursor: pointer;
}

nav {
	grid-area: nav;
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.home {
	display: grid;
	grid-template-areas:
		'header header'
		'main main';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 60px 1fr;
}

.social {
	width: 0;
	overflow: hidden;
	backdrop-filter: var(--glass-blur);
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: var(--page-height);
	position: relative;
	scroll-snap-align: top;
}

.mouse-icon-wrapper {
	position: absolute;
	bottom: 40px;
	width: 100%;
	height: 50px;
	display: flex;
	place-items: center;
}

.mouse-icon {
	position: relative;
	display: flex;
	place-items: center;
	height: 50px;
	width: 30px;
	left: 50%;
	border: var(--border-style);
	background-color: var(--glass-bg);
	border-radius: 32px;
}

.mouse-icon-inside {
	transform-origin: center;
	background-color: rgb(255, 255, 255);
	border-radius: 32px;
	animation: mouse-scroll 2s ease-in-out 2s infinite;
	position: absolute;
	left: 54%;
	transform: translate(calc(-50% - 2px), 0);
	height: 12px;
	width: 2px;
}

@keyframes mouse-scroll {
	0% {
		top: 20%;
		opacity: 0%;
	}
	25% {
		top: 20%;
		opacity: 50%;
	}
	50% {
		top: 50%;
		opacity: 50%;
	}
	100% {
		top: 50%;
		opacity: 0%;
	}
}

@media (min-width: 400px) {
	main {
		padding: 12px;
	}

	.hero {
		flex-direction: row;
	}

	.home {
		display: grid;
		grid-template-areas:
			'header header'
			'social main';
		grid-template-columns: 60px 1fr;
		grid-template-rows: 60px 1fr;
	}

	.social {
		background-color: var(--glass-bg);
		box-shadow: var(--glass-shadow);
		border-right: var(--border-style);
		width: 40px;
		height: 100%;
		grid-area: social;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: all 400ms ease;
		z-index: 100;
		flex-wrap: nowrap;
	}

	.social:hover {
		width: 200px;
	}

	.social-label {
		width: 100%;
	}

	.social .social-label a div {
		flex-shrink: 0;
		white-space: nowrap;
	}
	.social .social-label a {
		flex-wrap: nowrap;
		flex-direction: row;
		align-items: center;
		display: flex;
		overflow: hidden;
		height: 44px;
		padding: 8px;
		width: 100%;
		gap: 1rem;
		transition: all 200ms ease;
	}

	.social > * {
		transition: all 300ms ease-out;
	}

	.social > *:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}

	.hero-picture {
		max-width: 600px;
	}

	nav a:hover {
		color: white;
	}
}

@media (max-width: 400px) {
	nav {
		background-color: var(--glass-bg);
		backdrop-filter: var(--glass-blur);
		position: fixed;
		display: flex;
		flex-direction: column;
		right: 0;
		inset: 0 0 0 50%;
		gap: 1rem;
		padding: 2rem;
		transform: translateX(100%);
		transition: all 200ms ease-in-out;
		margin-top: 60px;
		z-index: 100;
		border: var(--border-style);
	}

	nav[data-visible='true'] {
		transform: translateX(0);
	}

	.drawerToggle {
		display: block;
		z-index: 1000;
		background: url('./assets/svgs/hamburger.svg');
		width: 24px;
		height: 24px;
		transition: all 500ms ease;
	}

	.drawerToggle[data-visible='true'] {
		background: url('./assets/svgs/x.svg');
	}

	.hero {
		justify-content: start;
		gap: 1rem;
	}
	.hero-picture {
		max-width: 300px;
	}
}

.drawerToggle {
	z-index: 1000;
	border: none;
}

header {
	grid-area: header;
	background-color: var(--glass-bg);
	box-shadow: var(--glass-shadow);
	border: var(--border-style);
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-inline: 1rem;
	height: 60px;
	z-index: 100;
}

header > div {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: nowrap;
}

main {
	scroll-behavior: smooth;
	grid-area: main;
	height: var(--page-height);
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	padding: 12px;
}

main > div {
	scroll-snap-align: center;
}

.hero-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 2;
}

.contact {
	grid-area: content;
	height: var(--page-height);
	scroll-snap-align: top;
}

.hero-title {
	font-size: clamp(4rem, 8vw, 100rem);
	font-weight: 600;
}

.hero-subtitle {
	font-size: clamp(1rem, 5vw, 4rem);
	font-weight: 500;
}
.hero-description {
	font-weight: 400;
	text-align: center;
}

/* footer {
	position: fixed;
	border-top: var(--border-style);
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: var(--glass-bg);
} */

/* --------------- */
/* Utility Classes */
/* --------------- */

.flex {
	display: flex;
}

.row {
	flex-direction: row;
}

.col {
	flex-direction: column;
}

.center {
	place-items: center;
}

/* --------------- */
/*   Components    */
/* --------------- */

.card {
	box-shadow: var(--glass-shadow);
	background-color: var(--glass-bg);
	border-radius: var(--border-sm);
	border: var(--border-style);
	backdrop-filter: var(--glass-blur);
	transition: all 200ms ease-out;
	max-height: 225px;
	&:hover {
		background-color: rgba(255, 255, 255, 0.641);
		box-shadow: none;
		transform: scale(1.05);
	}
}

.projects-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 1rem;
	height: var(--page-height);
	padding: 1rem;
}

.project-description {
	font-weight: 200;
	border-top: var(--border-style);
	border-bottom: var(--border-style);
	padding: 0.6rem;
	font-size: 0.8rem;
	flex: 1;
}

.project-stack {
	color: rgba(0, 0, 0, 0.5);
	padding: 0.6rem;
	font-size: 0.7rem;
}

.project-title {
	font-weight: 300;
	padding: 0.6rem;
	font-size: 0.8rem;
}

#contact {
	width: 100%;
	padding: 1rem;

	form {
		fieldset {
			padding: 1rem;
			display: flex;
			gap: 1rem;
			flex-direction: column;
			padding: 1rem;
			label {
				font-weight: 300;
				* {
					font-weight: normal;
					padding: 0.6rem;
					margin-top: 0.5rem;
					width: 100%;
					border-radius: var(--border-sm);
					background-color: whitesmoke;
				}
			}
		}
	}
}

button {
	padding: 12px;
	border: 1px solid black;
	border-radius: var(--border-sm);
}
